{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "importOrder": ["^@theme/.*", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["**/*.json"],
      "options": {
        "jsonRecursiveSort": true
      }
    }
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-sort-json"
  ],
  "printWidth": 80,
  "proseWrap": "never",
  "singleQuote": true,
  "trailingComma": "all"
}
