repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "@trivago/prettier-plugin-sort-imports@2.0.4"
        files: ^content\/.*$
