.enterprise {
  border: #ededed 1px solid;
  border-left: #6F43E7 solid 4px;
  border-radius: 10px;
  margin: 0 0 16px 0;
  padding: 16px;
  background-color: #f6f3ff;
}
[data-theme='dark'] .enterprise {
  border-color: #612fea;
  border-left-color: #ece5ff;
  background-color: #7161ef;
}

.enterprise > :last-child {
  margin-bottom: 0;
}

.enterprise_header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.enterprise_header h5 {
  margin: 0 5px;
  font-size: 16px;
  color: #6F43E7;
}
[data-theme='dark'] .enterprise_header h5 {
  color: #ECE5FF;
}

[data-theme='dark'] .enterprise a {
  color: #f1e8f9;
  font-weight: bold;
}
