.custom_admonition {
  border: #ededed 1px solid;
  border-left: #6F43E7 solid 4px;
  border-radius: 10px;
  margin: 0 0 16px 0;
  padding: 16px;
  background-color: #f6f3ff;
}

.custom_admonition_header {
  display: flex;
  justify-content: flex-start;
}

.custom_admonition_header span {
  margin-right: 5px;
}

.custom_admonition_header h5 {
  color: #6F43E7;
  font-size: 16px;
}

.custom_admonition_text p {
 margin: 0 0 0 0;
 font-size: 16px;
}
