.custom_admonition_light_mode {
  border: #ededed 1px solid;
  border-left: #6F43E7 solid 4px;
  border-radius: 10px;
  margin: 0 0 16px 0;
  padding: 16px;
  background-color: #f6f3ff;
}

.custom_admonition_dark_mode {
  border: #612fea 1px solid;
  border-left: #ECE5FF solid 4px;
  border-radius: 10px;
  margin: 0 0 16px 0;
  padding: 16px;
  background-color: #7161ef;
}

.custom_admonition_header {
  display: flex;
  justify-content: flex-start;
}

.custom_admonition_header span {
  margin-right: 5px;
}

.custom_admonition_title_light_mode {
  color: #6F43E7;
  font-size: 16px;
}

.custom_admonition_title_dark_mode {
  color: #ECE5FF;
  font-size: 16px;
}

.custom_admonition_text p {
 margin: 0 0 0 0;
 font-size: 16px;
}

.custom_admonition_text_dark_mode p {
  margin: 0 0 0 0;
  font-size: 16px;
}

.custom_admonition_text_dark_mode a {
  color: #f1e8f9;
  font-weight: bold;
}
