/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6f43e7;
  --ifm-color-primary-dark: #643cd0;
  --ifm-color-primary-darker: #5936b9;
  --ifm-color-primary-darkest: #4e2fa2;
  --ifm-color-primary-light: #7d56e9;
  --ifm-color-primary-lighter: #8c69ec;
  --ifm-color-primary-lightest: #9a7bee;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #cdbcfc;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6f43e7;
  --ifm-color-primary-dark: #643cd0;
  --ifm-color-primary-darker: #5936b9;
  --ifm-color-primary-darkest: #4e2fa2;
  --ifm-color-primary-light: #7d56e9;
  --ifm-color-primary-lighter: #8c69ec;
  --ifm-color-primary-lightest: #9a7bee;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Adjust footer link colors */
#__docusaurus > footer > div > div.text--center > div > a {
  color: unset;
}

#__docusaurus > footer > div > div.text--center > div > a:hover {
  color: var(--ifm-link-color);
  text-decoration: underline;
}

.footer__item {
  list-style-type: none;
  text-align: left;
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.ns-title {
  font-size: 1.7rem;
  display: block;
  text-align: center;
}

.ns-content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.7rem;
  text-align: center;
}

.ns-input {
  font-size: inherit;
  border: 1px solid #e8e8fb;
  padding: 0.6rem 1.2rem;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 0.8rem;
  outline: none;
}

.ns-button {
  font-size: inherit;
  border: none;
  cursor: pointer;
  background: #6f43e7;
  color: #fff;
  padding: 0.6rem 1.8rem;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}

.newsletter__wrap {
  margin: 1.5rem auto;
  padding: 1.8rem 2.3rem;
  border-radius: 3px;
  box-sizing: border-box;
  max-width: 960px !important;
  background: #f8f8f8;
  text-align: center;
}

.text-slate\/60 {
  color: rgb(67 84 101 / 0.6);
}

.absolute {
  position: absolute;
}

.bg-stone\/60 {
  background-color: rgb(232 232 234 / 0.6);
}

.border-0 {
  border-width: 0px;
}

[type='text'],
[type='email'],
[multiple],
textarea,
select {
  display: block;
  height: 3rem;
  width: 100%;
  border-radius: 0.75rem;
  border-color: #d1d5db;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #2563eb;
}

.w-12 {
  width: 3rem;
}

.entRef-anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -90px;
}

.k8s-settings-anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -90px;
}

.enterprise a::after {
  background-color: transparent;
  padding-left: 2rem;
  content: url(img/enterprise.png);
}
