.video_text {
  width: 45%;
}

.section_body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.video_iframe {
  width: 60%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section_body {
    flex-direction: column;
  }

  .video_text {
    width: 100%;
  }

  .video_iframe {
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .section_body {
    flex-direction: column;
  }

  .video_text {
    width: 100%;
  }

  .video_iframe {
    width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .section_body {
    flex-direction: column;
  }

  .video_text {
    width: 100%;
  }

  .video_iframe {
    width: 100%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .video_text {
    width: 45%;
  }

  .section_body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .video_iframe {
    width: 60%;
  }
}
